.addRecipe > button:hover {
    background-color: green;
}

.addRecipe > button:active {
    box-shadow: 0 5px black;
    transform: translateY(2px);
}

.addRecipe > button {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-position: top;
    text-align: center;
    margin: 2% auto;
    border-radius: 5px;
    font-size: 20px;
}
