.newRecipeForm {
    max-width: 500px;
    background-color: rgba(197, 168, 115, 0.7);
    border: 2px solid black;
    padding: 5rem;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
}

label {
    display: block;
}

input {
    width: 80%;
}

textarea {
    height: 100px;
    width: 80%;
}

.recipe-title {
    padding: 0.5rem;
}

.recipe-ingredients {
    padding: 0.5rem;
}

.recipe-instructions {
    padding: 0.5rem;
}

.recipe-image {
    padding: 0.5rem;
}

.button-area {
    display: inline-block;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-position: top;
    text-align: center;
    margin: 2% auto;
    border-radius: 5px;
    font-size: 20px;
    margin: 2rem;
}

button:hover {
    background-color: green;
}

button:active {
    box-shadow: 0 5px black;
    transform: translateY(2px);
}
