.searchBox {
    padding-top: 4rem;
}

.searchBox > input {
    font-size: 1.5rem;
    height: 2rem;
    width: 20rem;
    padding: var(--spacing-medium);
<<<<<<< HEAD
    border-style: solid; border-width: 1px;
    border-color: var(--near-black);
    background-color: #a2dfff;
    border-radius: 5px;
=======
    border-style: solid;
    border-width: 1px;
    border-color: var(--near-black);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
}

::placeholder{
    color: aliceblue;
>>>>>>> f7a0fe252ffa9bc525c588d0126d6be013cdcc2b
}