.App {
  text-align: center;
}

body {
  background-image: url(./images/projectbackground.jpg);
  background-size: cover;
}

.recipes {
  overflow: scroll;
  border: 5px solid black;
  height: 620px;
}

.error > div{
  color: red;
  height: 550px;
}

.error > div{
  color: rgba(255, 0, 0, 0.836);
  font-weight: bold;
}
